html {
  background-color: rgb(20, 67, 155);
}

body {
  padding: 0px;
  margin: 0px;
  width: 600px;
}


h2 {
  z-index: 1;
  font-size: 5rem;
}

img {
  z-index: 2;
  margin-left: 50%;
  width: 700px;
}

/* .top {
  position: absolute;
  bottom: 80%;
} */

/* .bottom {
 position: absolute;
 top: 200px;
}  */

button{
  padding: 10px 40px;
  background-color: rgba(255, 145, 0, 0.719);
  font-size: 2rem;
  border-radius: 5px;
  color: black;
}

input{
  padding: 20px;
  font-size: 1.5rem;
}

form {
  display: flex;
  justify-content: center;
  padding: 0px 50px;
  margin: 40px 0px;
  margin-left: 100%;
}

/* .container img {
  width: 60%;
} */

/* img .text{
  position: relative;
  left: 20%;
  height: 600px;
} */

.text{
  position: relative;
  bottom: 500px;
}
